body {

background-image:url("../images/starwarsBackground.jpg");

}

.header {
  /*background-color:white;*/
  border-style:black,solid;
  font-size:60px;
  color:red;
  text-align:center;
  height:80px;
  background-color:blue;


  font-family:'Bungee Inline', cursive;
}


.container {
  

}


.characterSelection {

  background-color: yellow;
  height:250px;
  float:left;
  width:100%;



}



.img-thumbnail {

  height:150px;
  width:150px;
  z-index:1;
  padding:15px;
  background-color:white;
  
}






#lukeSkywalker {

  float:left;
  background-color: green;
  
  position:relative;

 
}



#obiwan {

  float:left;
  background-color: green;
  z-index:1;
  position:relative;

 
}



#darthVader {

  float:left;
  background-color: green;
  z-index:1;
  position:relative;


 
}


#darthSidious {
  
  float:left;
  background-color: green;
  z-index:1;
  position:relative;


 
}





.enemiesAttack {
  background-color:red;
  height:100px;
  float:left;
  width:100%;


}


.defenderArea {
  background-color:green;
  height:100px;
  float:left;
  width:100%;

}


.resetPrompt {

  background-color:purple;
  height:100px;
  float:left;
  width:100%;


}



.footer {
  text-align:center;
  background-color:white;
  height:90px;
  padding:30px;
  clear:both;
  overflow:auto;
}
