body {

background-image:url("../images/starwarsBackground.jpg");

}

.header {
  /*background-color:white;*/
  border-style:black,solid;
  font-size:60px;
  color:red;
  text-align:center;
  height:90px;
  background-color:blue;

  font-family:'Bungee Inline', cursive;
}


.container {
  /*background-color:white;*/


}


.characterSelection {

  background-color: yellow;
  height:250px;

  width:100%;

}






.lukeSkywalker {

  float:left;
  background-color: gray;
  z-index:1;

 
}



.obiwan {

  float:left;
  background-color: gray;
  z-index:1;

 
}



.darthVader {

  float:left;
  background-color: gray;
  z-index:1;

 
}


.darthSidious {

  float:left;
  background-color: gray;
  z-index:1;

 
}





.enemiesAttack {
  background-color:red;
  height:100px;


}


.defenderArea {
  background-color:green;
  height:100px;

}


.resetPrompt {

  background-color:purple;
  height:100px;


}

